<a href="https://colab.research.google.com/github/Lunatic-2981/Python/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#First ten even numbers
a=2
while a<=20:
  print(a)
  a=a+2

2
4
6
8
10
12
14
16
18
20

In [ ]:
#First 10 even numbers reversed
a1=20
while a1>=2:
  print(a1)
  a1=a1-2

20
18
16
14
12
10
8
6
4
2

In [ ]:
a2=1
b=10
while a2<=20:
  print(a2*b)
  a2+=1

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200

In [ ]:
#Print table of number given by user
m=1
m1=int(input("Enter a number :"))
m2=m*m1
while m<=10:
  print(m1, "*", m, "=", m2)
  m+=1

Enter a number :8
8 * 1 = 8
8 * 2 = 8
8 * 3 = 8
8 * 4 = 8
8 * 5 = 8
8 * 6 = 8
8 * 7 = 8
8 * 8 = 8
8 * 9 = 8
8 * 10 = 8

In [ ]:
#Prime numbers(1)
num = int(input("Enter a number :"))  
if num > 1:
  for i in range(2, num//2):
    if (num % i) == 0:
      print(num, "is not a prime number")
      break
    else:
      print(num, "is a prime number")
else:
  print(num, "is not a prime number")

Enter a number :56
56 is not a prime number

In [ ]:
#Prime numbers(0)
num = int(input("Enter a number :"))  
if num > 1:
  for i in range(2, num//2):
    if (num % i) == 0:
      print(num, "is not a prime number")
      break
    else:
      print(num, "is a prime number")
else:
  print(num, "is not a prime number")

In [ ]:
#Reverse the number
num1=input("Please enter a number :")
n=(len(num1))
num2=""
for i in range(n-1,-1,-1):
  num2=num2+num1[i]
print(num2)

Please enter a number :456
654

In [10]:
#Factorial
n1=int(input("Please enter a number greater than 0 :"))
factorial=1
if n1==1:
  print("The factorial of ",n1," is 1",)
else:
  for i in range(1,n1+1):
    factorial=factorial*i
  print("The factorial of ",n1," is ",factorial)

Please enter a number greater than 0 :6
The factorial of  6  is  720

In [12]:
#Palindrome(1)
num1=input("Please enter a number :")
n=(len(num1))
num2=""
for i in range(n-1,-1,-1):
  num2=num2+num1[i]
if num1==num2:
  print("The number is palindrome !")
else:
  print("The number isn't a palindrome !")

Please enter a number :4321551234
The number is palindrome !

In [13]:
#Palindrome(0)
num1=input("Please enter a number :")
n=(len(num1))
num2=""
for i in range(n-1,-1,-1):
  num2=num2+num1[i]
if num1==num2:
  print("The number is palindrome !")
else:
  print("The number isn't a palindrome !")

Please enter a number :123654
The number isn't a palindrome !

In [15]:
#Printing all characters of my name 
s1=input("Please enter your name :")
s=len(s1)
for i in range(0,s,1):
  print(s1[i])

Please enter your name :Kabir
K
a
b
i
r

In [20]:
#Print all the factors of entered number
f=int(input("Please enter a 2 digit number :"))
for i in range (1,f):
  if f%i==0:
    print(i)

Please enter a 2 digit number :50
1
2
5
10
25