<a href="https://colab.research.google.com/github/Lunatic-2981/Python/blob/main/Wipro_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Vipro Question
a=[100,200,300]
b=20
c=200
d=b in list(a)
e="{} isn't in the list"

In [ ]:
#Case 1 Without using loops or conditional statements

In [ ]:
#Case 2(a) Using if else statement
if (b in list(a)):
  a.insert(1,200)
else:
  print(e.format(b))

20 isn't in the list

In [ ]:
#Case 2(b) Using if else statement
if(d==True):
  a[1]=200
else:
  print(e.format(b))

20 isn't in the list

In [ ]:
#Case 3(a) Using while & if  statement
while(b in list(a)):
  a[1]=200
if(d==False):
  print(e.format(b))

20 isn't in the list

In [ ]:
#Case 3(b) Using while & if  statement
while(d==True):
  a[1]=200
if(d==False):
  print(e.format(b))

20 isn't in the list

In [ ]:
#Case 3(c) Using while & if  statement
while(d==True):
  a[1]=200
if(b not in list(a)):
  print(e.format(b))

20 isn't in the list